.page-container{
    font-size: 24px;
}
.banner-about {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 220px;
    mix-blend-mode: darken;
    border-radius: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/Banner/bannerCoverFooter.png");
    background-size: cover;
    font-size: 48px;
    text-align: center;
    color: white;
    min-width: 100px;

}

.collapse-list{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}


.collapse{
    background-color:  #FF6060;
    border-radius: 5px;
    padding: 1em;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: clamp(1rem, 0.5rem + 1.5vw, 1.5rem)
}

.collapse-content{
    background-color: #F7F7F7;
    padding: 2em;
    color: #FF6060;
}

.arrow-collapse{
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .banner-about{
      font-size: 1em;
      height: 130px;
    }

    .collapse-content{
        font-size: 20px;
    }
  }

  @media screen and (max-width: 800px) {
    .banner-about{
        height: 300px;
        background-position: center;
    }

    .collapse-content{
        font-size: 14px;
    }
  }