.page-container{
    display: flex;
    flex-direction: column;
}
.navbar{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo{
  flex-grow: 1;
}
.door{
    position: relative;
    right: 15px;
    bottom: 6px;
}
.navlink{
    display: flex;
    gap : 5em;
}
.about{
    text-decoration: none;
}
li{
    list-style-type: none;
}

li a{
color: 
    #FF6060;

    font-size: 24px;
}

.unline{
    text-decoration: none;
}


.footer{
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}