.page-container{
    display: flex;
    flex-direction: column;
    gap: 5em;
    min-height: 100vh;
}
.navbar{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo{
  flex-grow: 1;
}

.logo-footer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.door-footer{
    position: relative;
    right: 8px;
    bottom: 0;
}

 .house{
    vertical-align: bottom;
}
.door{
    position: relative;
    right: 15px;
    bottom: 6px;
}
.navlink{
    display: flex;
    gap : 5em;
}
.about{
    text-decoration: none;
}
li{
    list-style-type: none;
}

li a{
color: 
    #FF6060;

    font-size: 24px;
}

.unline{
    text-decoration: none;
}

.footer-container{
    flex: 1;
    display: flex;
    align-items: flex-end;
    margin: 0 -20px;
}

.footer{
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 2em;
}

.footer > *{
    margin: 0;
}
.page-container>:not(.footer-container), .nav-container:not(.footer-container){
    max-width: 1440px;
    margin: auto;
    width: 100%;
}