.page-container{
    display: flex;
    flex-direction: column;
    gap: 3em;
    min-height: 95vh;
}
.navbar{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo{
  flex-grow: 1;
}

.logo-footer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.door-footer{
    position: relative;
    right: 8px;
    bottom: 0;
}

 .house{
    vertical-align: bottom;
}
.door{
    position: relative;
    right: 15px;
    bottom: 6px;
}
.navlink{
    display: flex;
    gap : clamp(1.5625rem, 0.7282rem + 2.6699vw, 5rem);
}
.about{
    text-decoration: none;
}
li{
    list-style-type: none;
}

li a{
color: 
    #FF6060;

    font-size: clamp(1rem, 0.5rem + 1.5vw, 1.5rem)
}

.unline{
    text-decoration: none;
}

.footer-container{
    flex: 1;
    display: flex;
    align-items: flex-end;
    margin: 0 -20px;
}

.footer{
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 2em;
}

.footer > *{
    margin: 0;
}
.page-container>:not(.footer-container), .nav-container:not(.footer-container){
    max-width: 1440px;
    margin: auto;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .page-container{
        font-size: 18px;
    }
  }

@media screen and (max-width: 800px) {
    .page-container{
        gap: 1em;
        font-size: 14px;
    }
  }