.slideshow {
  display: flex;
  position: relative;
}

.slideshow > img {
    width: 100%;
    object-fit: cover;
    height: 20em;
}

.slideshow-controls {
  position: absolute;
  margin: 0 1em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

.slideshow-index-container{
    position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  text-align: center;
}

.slideshow-index{
 
    color: white;
    transform: translateX(-50%);
}

.product-container{
  display: flex;
  gap: 2em;
  flex-direction: column;
  color: #FF6060;
  
}

.product-label{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-label-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-title{
  font-size: 2em;
}

.product-location{
  margin-bottom: 1em;
}
.product-tag-list{
  display: flex;
  gap: 1em;
  color: white;
  flex-wrap: wrap;
}
.product-tag{
  border-radius: 15px;
  background: #FF6060;
  padding: 6px 28px;
}

.product-inform{
  display: flex;
  gap: 2em;
}

.rating-display{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.star-pleine{
  fill: #FF6060;
}

.star{
  fill:#E3E3E3;
}

.product-host{
  display: flex;
  flex-direction: column;
  flex-basis: 16%;
}

.product-host-id{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-host-picture img{
  border-radius: 100%;
}

@media screen and (max-width: 800px) {
  .product-inform{
    flex-wrap: wrap;
  }
}